<% provide(:title,'About Us')%>
<!DOCTYPE html>
<h1>About Us</h1>
<p>
	안녕하세요. 제 이름은 조재우입니다.<br />
	08학번이고요. 이번에 휴학합니다. (읭?) <br />
	이번에 웹 문제를 이번에 복학하는 박성수군이랑 같이 좀 냈고요.<br />
	이건 제가 Ruby on Rails 라는 웹 프레임워크를 공부하면서 만든
	트위터에요. 아직 기본적인 기능만 갖춰진 상태라서 별거 없지만
	기본적인 글쓰기나 팔로우 같은 기능만 간단히 구현해놨구요.<br />
<br />
	on Rails 라는 놈이 Ruby 라는 언어로 쓰여진 웹 프레임워크인데 
	상당히 생산성이 좋고 재밌답니다.<br />
<br />
	혹시 web개발에 관심있으신분은 저한테 contact 해주세요. <br />
<br />
	아 그리고 혹시 여기 가입하시고 문제풀다가 정 모르겠으면 여기다가
	글 남겨놓으면 제가 떡밥을 던질수도 ^^<br />
<br />
	개소리+)<br />
<br />
	제가 선배나 웹 개발에서는 거의 우리 동아리 유일무이한? 사람으로
	팁을 드리자면 웹해킹, 웹개발은 맨땅에 헤딩하시는 자세로 배우는게
	제일 중요합니다.<br />
<br />
	웹개발이 상당히 재밌는 이유는 솔직히 c나 기타 컴파일언어는 빠른 시간내에
	gui 프로그램을 만들기가 상당히 어렵답니다. 하지만 웹 스크립트언어는 단시간
	내에 성과를 그때그때 눈으로 보면서 할수있기 때문에 정말 재밌죠.<br />
<br />
	하지만 절대 쉽게 생각하시면 안됩니다. 집단지성프로그래밍, 검색엔진 그리고
	트위터, 페이스북, 블로그 같은 Web 2.0 프로젝트들은 상당히 복잡한 알고리즘을
	가지고 있고 무엇보다 학교에서는 이런걸 안가르쳐주고 중급이상의 자료의
	국내 번역서도 잘 없는 편이라 100% 구글에 의존할 수 밖에 없는 상황이죠.<br />
<br />
	php, jsp, asp 말고도 python 으로 django 라든지 ruby 로 ruby on rails 라던지
	재밌는 웹 프레임워크, 스크립트 언어들이 많으니 항상 재밌게 이런것들을 배워나가는 자세도 우리 해커(프로그래머)들에게 꼭 필요한 자세가 아닌가 싶네요.<br />
<br />
	그런게 재미없으면 IT 말고 다른 분야를 생각해보세요 ㅋㅋㅋ 그리고 영어 필수입니다. 토익 토플 뭐 이런거 말고요. 진짜 쓸수있는 영어.<br />
<br />
	화이팅하시고 남은 대회기간동안 즐기길 바랄게요.<br />
<br />
Fun hack!!<br />
<br />
솔직히 이 문제는 RoR이랑 전혀 상관없지만 2주동안 한 결과물 버리기 아까워서 이렇게 쓰는거에요 ㅎㅎ<br />
	<a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Do you want to know Ruby on Rails?</a>
</p>
