<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.cert-is.com/">Notice</a></li>
      <li><a href="http://www.facebook.com/profile.php?id=100002000411832">Facebook</a></li>
    </ul>
    <ul>
    	Copyright 2012, <a href="http://kater102.tistory.com" target="_blank">ChoJaewoo</a>. All rights reserved.
    </ul>
  </nav>
  	
  
</footer>